<footer>
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Circular </h3>
                    <ul>
                        <li> <a href="#"> A Empresa </a> </li>
                        <li> <a href="#"> Fornecedores </a> </li>
                        <li> <a href="#"> Assessoria de Imprensa </a> </li>
                        <li> <a href="#"> Sustentabilidade </a> </li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Institucional </h3>
                    <ul>
                        <li> <a href="#"> Garantia Estendida </a> </li>
                        <li> <a href="#"> Venda no Circular </a> </li>
                        <li> <a href="#"> Serviços de Entrega </a> </li>
                        <li> <a href="#"> Trabalhe conosco </a> </li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Ajuda </h3>
                    <ul>
                        <li> <a href="#"> Central de Atendimento </a> </li>
                        <li> <a href="#"> Perguntas Frequentes </a> </li>
                        <li> <a href="#"> Trocas e Devoluções </a> </li>
                        <li> <a href="#"> PolÍtica de Privacidade </a> </li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Pontos </h3>
                    <ul>
                        <li> <a href="#"> Acumulo </a> </li>
                        <li> <a href="#"> Resgate </a> </li>
                        <li> <a href="#"> Devolução </a> </li>
                        <li> <a href="#"> FAC </a> </li>
                    </ul>
                </div>
                <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 ">
                    <h3> Contato </h3>
                    <ul>
                        <li>  Vendas - 0800 123 4567  </li>
                        <li>  Ouvidoria - 0800 111 2222  </li>
                    </ul>
                    <ul class="social">
                        <li> <a href="#"> <i class="fa fa-facebook">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-twitter">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-google-plus">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-pinterest">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-youtube">   </i> </a> </li>
                    </ul>
                </div>
            </div>
            <!--/.row-->
        </div>
        <!--/.container-->
    </div>
    <!--/.footer-->

    <div class="footer-bottom">
        <div class="container">
            <p class="pull-left"> Copyright © (POC - Esfera) Loja Virtual Circular 2019. Todos os direitos reservados. </p>
            <div class="pull-right">
                <ul class="nav nav-pills payments">
                	<li><i class="fa fa-cc-visa"></i></li>
                    <li><i class="fa fa-cc-mastercard"></i></li>
                    <li><i class="fa fa-cc-amex"></i></li>
                    <li><i class="fa fa-cc-paypal"></i></li>
                </ul>
            </div>
        </div>
    </div>
    <!--/.footer-bottom-->
</footer>